.welcome-p{
    background-color: rgba(255, 255, 255, 0.25);
    width: 35%;
    font-family: cairo;
    color: #ffffff;
    margin: 40px 30px;
  
  }
  
  .welcome-p h2{
    padding: 10px 25px 0px 25px;
  }
  
  .welcome-p p{
    padding: 0px 45px 40px 45px;
    
  }
  
    .logo{
      float: right;
      margin: 85px 85px ;
      width: 50%;
    }
  