.update-div{
    height: 500px;
    width: 1000px;
    padding: 20px 20px 20px 20px;
    margin: auto;
    margin-top: 30px;
    font-family: cairo;
    background-color: rgba(255, 255, 255, 0.25);
    
}

#update-img{
    float: right;
    height: auto;
    width: 60%;
    margin-right: 40px;
    margin-top: 40px;
}

input{
    
    width: 250px;
    height: 25px;
    margin: 20px 20px ;
    display: block;
    padding: 5px 10px;
}

select{
    
    height: 40px;
    width: 275px;
    margin: 0px 20px;
    padding: 5px 10px;
}

#button{
    
    height: 40px;
    width: 275px;
    float: bottom;
    color: #ffffff;
    
    background-color: #3669a7;
    border: 0px;
    padding: 5px 50px;
}

#button:hover{
    color: #3669a7;
    background-color: #ffffff;
    
}

br {   
    content: "";
    margin: 85px;
    display: block;
 }